<h1>Articles listing page</h1>

<%= render 'table' %>

<div class="flickr_pagination">
  <div class="page_info">
    <%= page_entries_info @articles %>
  </div>
  <%= will_paginate @articles, :container => false %>
</div>

<a class='btn btn-success' href='/articles/new'>Create new Article</a>
